
.shift-schedule-header {
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #d8dbe0;
  border-radius: 8px;
}

.header-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  /* 24px */
  font-weight: 600;
}

/* 
.btn-add {
  background-color: #f76c2f !important;
  border-color: #f76c2f !important;
  color: white !important;
}

.btn-add:hover {
  background-color: #e05e26 !important;
  border-color: #e05e26 !important;
} */

.header-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* Cho phép xuống hàng trên di động */
  gap: 1rem;
}

.filter-group-left {
  flex-grow: 1;
}

.search-bar {
  max-width: 300px;
  /* Giới hạn chiều rộng ô tìm kiếm */
}

.filter-group-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  /* Khoảng cách giữa các nút filter */
  flex-wrap: wrap;
}