
  .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-bottom: 1px solid #ebedef;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }

  .widget-title-group {
    display: flex;
    flex-direction: column;
  }

  .widget-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 4px 0;
    color: #333;
  }

  .widget-subtitle {
    font-size: 0.8rem;
    color: #777;
  }

 
  .widget-controls-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 8px;

  }


  .widget-controls-top {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #555;
  }

  .widget-unit {
    font-size: 0.8rem;
    color: #777;
    text-align: right;
  }

  .widget-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }

  .widget-body canvas {
    margin-left: auto;
    margin-right: auto;
  }