.timekeeping-page {
  .empty-state-card {
    border-radius: var(--cui-border-radius-lg);
    
    .empty-state-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5rem 2rem; // Tăng padding để đẩy nội dung ra giữa
      text-align: center;

      .empty-state-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px; // Kích thước vòng tròn
        height: 120px;
        background-color: var(--cui-gray-100);
        border-radius: 50%;

        .empty-icon {
          font-size: 4rem; // Kích thước icon
          color: var(--cui-gray-400); // Màu icon
        }
      }

      h5 {
        margin-top: 1.5rem;
        font-weight: 600;
        color: var(--cui-gray-800);
      }

      p {
        max-width: 400px; // Giới hạn chiều rộng của text
      }
    }
  }
}